/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-charcoal: #0a0a0a;
  --color-charcoal-light: #1a1a1a;
  --color-charcoal-border: #2a2a2a;

  --font-sans: Inter, system-ui, sans-serif;
}

body {
  background-color: theme(colors.charcoal);
  font-family: theme(fontFamily.sans);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: #fff;
}
