/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-charcoal: #0a0a0a;
  --color-charcoal-light: #1a1a1a;
  --color-charcoal-border: #2a2a2a;

  --font-sans: Inter, system-ui, sans-serif;
}

html {
  overflow-y: hidden;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 9999px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(30 33 38);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(50 55 60);
}

body {
  background-color: theme(colors.charcoal);
  font-family: theme(fontFamily.sans);
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #fff;
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

.fade-in {
  animation: fade-in 0.125s;
}

.fade-out {
  animation: fade-out 0.125s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
